body {
	font-family: "Noto Sans JP", sans-serif;
}

/*#F0C600の類似カラー*/

.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	background-color: #fff;
	color: #0D2936;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

/* ホバー */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

.layout-aboutus {
	margin-top: 5rem;
}

.layout-aboutus--sub {
	margin-top: 3.25rem;
}

.layout-access {
	margin-top: 5rem;
}

.layout-archive-blog {
	margin-top: 3.25rem;
}

.layout-blog {
	margin-top: 5rem;
}

.layout-breadcrumb {
	margin-top: 0.5rem;
}

.layout-breadcrumb--404 {
	margin-top: 0;
	padding-top: 0rem;
}

.layout-campaign {
	margin-top: 2.5rem;
}

.layout-contact-thanks {
	margin-top: 3.25rem;
}

.layout-contact {
	margin-top: 5rem;
}

.layout-contactform {
	margin-top: 3.1875rem;
}

.layout-error {
	margin-top: 0.5rem;
}

.layout-faq {
	margin-top: 3.25rem;
}

.layout-footer {
	margin-top: 6.375rem;
}

.layout-gallery {
	margin-top: 2.25rem;
}

.layout-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 900;
}

.layout-information {
	margin-top: 4.375rem;
}

.layout-price {
	margin-top: 5rem;
}

.layout-privacypolicy {
	margin-top: 3.25rem;
}

.layout-sub-blog {
	margin-top: 3.125rem;
}

.layout-sitemap {
	margin-top: 3.25rem;
}

.layout-sub-campaign {
	margin-top: 3.25rem;
}

.layout-sub-contact {
	margin-top: 6.625rem;
}

.layout-sub-footer {
	margin-top: 6.25rem;
}

.layout-sub-footer--contact {
	margin-top: 9rem;
}

.layout-sub-information {
	margin-top: 7.5625rem;
}

.layout-sub-price {
	margin-top: 3.25rem;
}

.layout-sub-voice {
	margin-top: 3.25rem;
}

.layout-voice {
	margin-top: 5rem;
}

.aboutus {
	position: relative;
}

.aboutus__inner.inner {
	max-width: 37.5rem;
}

.aboutus__wrap {
	margin-top: 1.5rem;
}

.aboutus__wrap--sub {
	margin-top: 0;
}

.aboutus__main-title {
	color: #B7AA00;
	font-family: "Gotu", sans-serif;
	font-size: 2.5rem;
}

.aboutus__img {
	width: 100%;
}

.aboutus__img img {
	-o-object-fit: cover;
	aspect-ratio: 345/228;
	object-fit: cover;
	width: 100%;
}

.aboutus__wrap-right {
	margin-top: 1rem;
}

.aboutus__text {
	line-height: 1.5;
	margin-top: 1.5rem;
}

.aboutus__btn {
	margin-top: 3.125rem;
	padding-bottom: 0.1875rem;
	text-align: center;
}

.access {
	position: relative;
}

.access__address {
	margin-top: 1rem;
}

.access__map {
	aspect-ratio: 600/450;
	margin-top: 1rem;
}

.access__map iframe {
	height: 100%;
	width: 100%;
}

.archive-blog {
	position: relative;
}

.archive-blog::before {
	background-image: url(../images/common/goldfish2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	left: 0.9375rem;
	min-height: 3.4375rem;
	min-width: 7.5rem;
	position: absolute;
	top: -1.5rem;
}

.archive-blog__inner.inner {
	padding: 0 1.3125rem;
}

.archive-blog__list {
	grid-row-gap: 2.5rem;
	border-top: 1px solid rgba(35, 79, 94, 0.2);
	display: grid;
	row-gap: 2.5rem;
}

.archive-blog__pagenavi {
	margin-top: 5rem;
}

/*****サイドバー*****/

.archive-blog__sidebar {
	margin-top: 5.25rem;
}

.background {
	background-color: #B7AA00;
}

.blog-card a {
	background-color: #fff;
	box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
	display: block;
	height: 100%;
}

.blog-card__img {
	padding: 1rem;
	width: 100%;
}

.blog-card__img img {
	-o-object-fit: cover;
	aspect-ratio: 301/201;
	object-fit: cover;
	transition: all 0.3s;
	width: 100%;
}

.blog-card:hover .blog-card__img img {
	opacity: 0.7;
}

.blog-card__meta {
	padding: 0.3125rem 1rem 1.5rem 1rem;
}

.blog-card__date {
	font-family: "Gotu", sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
}

.blog-card__title,
.blog-card__text {
	line-height: 1.5;
}

.blog-card__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-weight: 500;
	padding-bottom: 0.1875rem;
}

.blog-card__text {
	font-weight: 400;
	margin-top: 1rem;
}

.blog-list {
	grid-row-gap: 2.5rem;
	display: grid;
	max-width: 37.5rem;
	row-gap: 2.5rem;
}

.blog-list--sub {
	border-top: 0.0625rem solid rgba(35, 79, 94, 0.2);
}

.blog-list__pagenavi {
	margin-top: 5rem;
}

.blog-sidebar-campaign__items {
	margin-top: 1.75rem;
}

.blog-sidebar-card {
	box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
	padding: 1rem;
}

.blog-sidebar-card__link {
	cursor: pointer;
}

.blog-sidebar-card__wrap {
	display: flex;
	gap: 1rem;
}

.blog-sidebar-card__img {
	max-width: 7.5625rem;
	transition: 0.3s;
	width: 100%;
}

.blog-sidebar-card__link:hover .blog-sidebar-card__img img {
	opacity: 0.7;
}

.blog-sidebar-card__img img {
	-o-object-fit: cover;
	aspect-ratio: 121/90;
	object-fit: cover;
	transition: all 0.3s;
	width: 100%;
}

.blog-sidebar-card__date {
	font-family: "Gotu", sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
}

.blog-sidebar-card__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-weight: 500;
	line-height: 1.4375;
	padding-bottom: 0.1875rem;
}

.blog-sidebar-card__title--sub {
	border-bottom: 0;
	padding-bottom: 0;
}

.blog-sidebar-cards__card + .blog-sidebar-cards__card {
	margin-top: 1.5rem;
}

.blog-sidebar-item__list {
	margin-top: 1.6875rem;
}

.blog-sidebar-items__item + .blog-sidebar-items__item {
	margin-top: 2.4375rem;
}

.blog-sidebar-items__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.blog-sidebar-cards__card + .blog-sidebar-cards__card {
	margin-top: 1.5rem;
}

.blog-sidebar-review__contents {
	margin-top: 1.6875rem;
}

.blog-sidebar-review__img {
	width: 100%;
}

.blog-sidebar-review__img img {
	-o-object-fit: cover;
	aspect-ratio: 294/218;
	object-fit: cover;
	width: 100%;
}

.blog-sidebar-review__content {
	margin-top: 1rem;
}

.blog-sidebar-review__age {
	font-size: 0.75rem;
	line-height: 1.5;
}

.blog-sidebar-review__title {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.4583333333;
	margin-top: 0.4375rem;
	width: 100%;
}

.blog-sidebar-review__btn {
	margin-top: 2.75rem;
	text-align: center;
}

.blog-sidebar__inner.inner {
	padding: 0 1.1875rem;
}

.blog-sidebar__inner--single.inner {
	padding: 0 1.5625rem;
}

.blog-sidebar__item {
	margin-top: 5.5rem;
}

.blog-sidebar__review {
	margin-top: 5.5rem;
}

.blog-sidebar__campaign {
	margin-top: 5.5rem;
}

.blog-sidebar__archive {
	margin-top: 5.5rem;
}

.blog-sidebar__toggle {
	margin-top: 1.625rem;
}

.blog {
	position: relative;
}

.blog__bg {
	height: 60%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -5;
}

.blog__bg img {
	-o-object-fit: cover;
	aspect-ratio: 1440/500;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.blog__inner {
	position: relative;
}

.blog__inner.inner {
	padding: 0 1.3125rem;
}

.blog__list {
	margin: 0 auto;
	margin-top: 1.5625rem;
}

.blog__btn {
	margin-top: 2.5rem;
	padding-bottom: 0.1875rem;
	text-align: center;
}

.breadcrumb--404 {
	background-color: #B7AA00;
	padding-top: 5.5rem;
	text-align: left;
}

.breadcrumb__inner {
	margin: auto;
	max-width: 37.5rem;
	padding: 0 1.25rem;
	width: 100%;
}

.breadcrumb span {
	font-size: 0.875rem;
	line-height: 1.4285714286;
}

.breadcrumb a {
	cursor: pointer;
}

.breadcrumb a:hover {
	opacity: 0.7;
}

.breadcrumb--404 span {
	color: #fff;
}

.breadcrumb span:not(:first-child) {
	margin-left: 0.1875rem;
}

.btn-contactform {
	background-color: #B7AA00;
	border: 0.0625rem solid #B7AA00;
	cursor: pointer;
	display: inline-flex;
	max-width: 12.5625rem;
	padding: 0;
	position: relative;
	transition: 0.5s;
	width: 100%;
	z-index: 1;
}

.btn-contactform__text {
	left: 28%;
	position: absolute;
	top: 28%;
}

.btn-contactform::before {
	border: 0.0625rem solid #B7AA00;
	content: "";
	display: block;
	height: 100%;
	left: 0.25rem;
	position: absolute;
	top: 0.3125rem;
	width: 100%;
	z-index: -2;
}

.btn-contactform::after {
	background: #fff;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.5s;
	transition-property: transform;
	width: 100%;
	z-index: -1;
}

.btn-contactform input {
	padding: 1.125rem 0;
	z-index: 1;
}

.btn-contactform input[type=submit] {
	color: transparent;
	width: 100%;
}

.btn-contactform:hover {
	opacity: 1;
}

.btn-contactform:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.btn-contactform:hover span {
	color: #B7AA00;
	z-index: 0.5;
}

.btn-contactform:hover span::before,
.btn-contactform:hover span::after {
	background-color: #B7AA00;
}

.btn {
	background: transparent;
	border: 1px solid #B7AA00;
	border-radius: 75px;
	box-sizing: border-box;
	display: inline-block;
	padding: 0.9375rem 5.4375rem 0.9375rem 2.4375rem;
	position: relative;
	transition: 0.5s;
	z-index: 1;
}

.btn::before,
.btn::after {
	border-radius: 75px;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.btn::before {
	background: #B7AA00;
	transition: transform ease 0.5s, opacity 0.5s;
	z-index: -1;
}

.btn::after {
	border: 1px solid #B7AA00;
	box-sizing: border-box;
}

.btn:hover {
	color: #B7AA00;
}

.btn:hover::before {
	opacity: 0;
	transform: scale(0);
}

.btn--404 {
	background-color: #fff;
	border: 0.0625rem solid #fff;
	padding-left: 2.5rem;
	padding-right: 6.25rem;
}

.btn--404::after {
	background: #B7AA00;
}

.btn:hover::after {
	border-radius: 75px;
	transition: all 0.5s ease-in;
	z-index: -1;
}

.btn span,
.btn-contactform span {
	color: #fff;
	font-family: "Gotu", sans-serif;
	font-size: 0.875rem;
	line-height: 1.5714285714;
	transition: 0.5s;
}

.btn span {
	position: relative;
}

.btn--404 span {
	color: #B7AA00;
}

.btn:hover span {
	color: #B7AA00;
}

.btn--404:hover span {
	color: #fff;
}

.campaign-card {
	box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.campaign-card__img {
	overflow: hidden;
	width: 100%;
}

.campaign-card__img img {
	-o-object-fit: cover;
	aspect-ratio: 280/188;
	object-fit: cover;
	transition: 0.6s;
	width: 100%;
}

.campaign-card__img--sidebar img {
	aspect-ratio: 294/188;
}

.campaign-card__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 1rem 1rem 1.5rem 1rem;
}

.campaign-card__content--sidebar {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.campaign-card__category {
	border: 0.0625rem solid #B7AA00;
	color: #B7AA00;
	display: inline-block;
	flex-shrink: 0;
	font-size: 0.75rem;
	line-height: 1.8333333333;
	padding: 0.1875rem 0.6875rem;
}

.campaign-card__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 0.25rem;
	padding-bottom: 0.4375rem;
	position: relative;
	width: 100%;
}

.campaign-card__title--sidebar {
	margin-top: 0;
	text-align: center;
}

.campaign-card__wrapper {
	margin-top: 0.5rem;
}

.campaign-card__subtitle {
	font-size: 0.875rem;
	line-height: 1.7142857143;
	text-align: center;
}

.campaign-card__price {
	-moz-column-gap: 1rem;
	align-items: end;
	column-gap: 1rem;
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
}

.campaign-card__false,
.campaign-card__true {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

.campaign-card__false span,
.campaign-card__true span {
	display: block;
	line-height: 1;
}

.campaign-card__false {
	padding-bottom: 0.125rem;
}

.campaign-card__false span {
	font-size: 1.25rem;
	position: relative;
}

.campaign-card__false span::before {
	background-color: #C94800;
	content: "";
	display: block;
	height: 0.1875rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.campaign-card__true {
	color: #f26651;
}

.campaign-card__true span {
	font-size: 1.25rem;
}

/*****以下下層ページに追加*****/

.campaign-card__text {
	display: none;
	flex-grow: 1;
}

.campaign-card__date,
.campaign-card__comment,
.campaign-card__btn {
	display: none;
}

.campaign-swiper {
	overflow: hidden;
}

.campaign-swiper__wrapper {
	padding-bottom: 0.1875rem;
	padding-left: 0.125rem;
}

.campaign-swiper__slide {
	height: auto;
}

.category-tab-item {
	background-color: #fff;
	border: 1px solid #B7AA00;
	color: #B7AA00;
	cursor: pointer;
	flex-shrink: 0;
	font-size: 0.875rem;
	line-height: 1.5714285714;
	text-align: center;
	transition: all 0.3s;
}

.category-tab-item a {
	display: inline-block;
	padding: 0.3125rem 0;
	width: 100%;
}

.category-tab-item.is-active {
	background-color: #B7AA00;
	color: #fff;
}

.category-tab-item:hover {
	background-color: #B7AA00;
	color: #fff;
}

.category-tab {
	grid-row-gap: 1rem;
	grid-column-gap: 1.3125rem;
	-moz-column-gap: 1.3125rem;
	column-gap: 1.3125rem;
	display: grid;
	grid-template-columns: repeat(2, 10.125rem);
	justify-content: center;
	row-gap: 1rem;
}

.campaign {
	overflow: hidden;
}

.campaign__inner {
	position: relative;
}

.campaign__inner.inner {
	padding-left: 0.8125rem;
}

.campaign__swiper {
	margin-right: calc(50% - 50vw);
	margin-top: 1.5rem;
}

.campaign__button {
	display: flex;
	justify-content: left;
}

.campaign__prev,
.campaign__next {
	min-height: 5rem;
	min-width: 5rem;
}

.campaign__button .campaign__prev,
.campaign__button .campaign__next {
	min-height: 5rem;
	min-width: 5rem;
	position: absolute;
	top: 0;
	top: 22px;
}

.campaign__button .campaign__prev {
	left: 76.5%;
}

.campaign__button .campaign__next {
	right: 2.25%;
}

.campaign__button .campaign__prev::after,
.campaign__button .campaign__next::after {
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	background-color: #B7AA00;
	content: "";
	height: 5rem;
	mask-repeat: no-repeat;
	mask-size: contain;
	transition: all 0.3s;
	width: 5rem;
}

.campaign__button .campaign__prev::after {
	-webkit-mask-image: url(../images/common/swiperbtn1.png);
	mask-image: url(../images/common/swiperbtn1.png);
}

.campaign__button .campaign__next::after {
	-webkit-mask-image: url(../images/common/swiperbtn2.png);
	mask-image: url(../images/common/swiperbtn2.png);
}

.campaign__button .campaign__prev:hover::after,
.campaign__button .campaign__next:hover::after {
	opacity: 0.5;
}

.campaign__btn {
	margin-top: 2.3125rem;
	padding-bottom: 0.3125rem;
	text-align: center;
}

.colorbox {
	position: relative;
}

.colorbox .color {
	background-color: #B7AA00;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}

.colorbox img {
	display: block;
	width: 100%;
}

.company-profile__list {
	border-bottom: 1px solid #000;
	display: flex;
	font-size: 0.8125rem;
	letter-spacing: 0.08em;
	line-height: 1.3;
	padding-bottom: 0.9375rem;
	width: 100%;
}

.company-profile__list + .company-profile__list {
	margin-top: 0.9375rem;
}

.company-profile__term {
	flex-shrink: 0;
	max-width: 7.5rem;
	width: 100%;
}

.contact-thanks__text,
.contact-thanks__subtext {
	text-align: center;
}

.contact-thanks__text {
	line-height: 1.125;
}

.contact-thanks__subtext {
	line-height: 1.4375;
	margin-top: 2.5rem;
}

.contact {
	position: relative;
}

.contact__link {
	color: #B7AA00;
	font-size: 0.875rem;
	line-height: 1.2857142857;
	margin-top: 0.5rem;
	text-align: center;
}

.contact__btn {
	margin-top: 2.5rem;
	padding-bottom: 0.1875rem;
	text-align: center;
}

.contactform__inner.inner {
	max-width: 46.875rem;
	width: 100%;
}

.error {
	background-image: url(../images/common/404.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20.5rem;
	content: "";
	padding: 3.3125rem 0 2.5rem;
}

.error__content {
	text-align: center;
}

.error__title,
.error__text {
	color: #fff;
}

.error__title {
	font-family: "Lato", sans-serif;
	font-size: 5rem;
	font-weight: 400;
	letter-spacing: 0.5em;
	line-height: 1.2;
	text-indent: 0.5em;
}

.error__text {
	color: #fff;
	font-family: "Lato", sans-serif;
	line-height: 1.5;
	margin-top: -0.3125rem;
	text-align: center;
}

.error__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.explanation__title {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.4583333333;
}

.explanation__contents {
	line-height: 2;
	margin-top: 2.5rem;
}

.explanation__contents ol {
	counter-reset: listnum; /* カウンターをリセット */
}

.explanation__contents ol li {
	padding-left: 1.5em;
	text-indent: -1.2em;
}

.explanation__contents ol li::before {
	content: counter(listnum) "."; /* 半角スペースを入れて""の中にピリオドを追加 */
	counter-increment: listnum;
	padding-right: 0.375rem;
}

.explanation__space {
	margin-top: 2rem;
}

.explanation__contents ul li::before {
	content: "・";
}

.explanation__contents p:not(:first-child) {
	margin-top: 2rem;
}

.faq-list__item + .faq-list__item {
	margin-top: 2.5rem;
}

.faq-list__item-question {
	background-color: #B7AA00;
	color: #fff;
	cursor: pointer;
	line-height: 1.4375;
	padding: 1rem 2.625rem 1rem 1rem;
	position: relative;
}

.faq-list__item-question::before,
.faq-list__item-question::after {
	background-color: #fff;
	content: "";
	height: 0.0625rem;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
	width: 1.75rem;
}

.faq-list__item-question::after {
	transform: rotate(0deg);
}

.faq-list__item-question.is-open::after {
	transform: rotate(90deg);
}

.faq-list__item-answer {
	border: 0.0625rem solid #B7AA00;
	line-height: 1.4375;
	padding: 1.5rem 1rem 1.375rem;
}

.faq__inner.inner {
	max-width: 23.4375rem;
}

.file-swiper {
	height: 100vh;
	min-height: 25rem;
}

.file-swiper__img,
.file-swiper__img img {
	height: inherit;
	min-height: inherit;
}

.file-swiper__img img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.footer {
	background-color: #B7AA00;
	padding: 3rem 0 3.5rem;
}

.footer--404 {
	padding-top: 3.25rem;
}

.footer__inner {
	margin: 0 auto;
	max-width: 33.125rem;
	padding: 0 0.875rem;
}

.footer__logo {
	margin: 0 auto;
	max-width: 7.5rem;
	width: 100%;
}

.footer__logo a {
	display: block;
}

.footer__logo img {
	-o-object-fit: contain;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.footer__sns {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.footer__sns-icon {
	display: block;
	max-width: 1.5rem;
	width: 100%;
}

.footer__sns-icon + .footer__sns-icon {
	margin-left: 1rem;
}

.footer__sns-icon img {
	-o-object-fit: contain;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.footer__bottom {
	margin-top: 2.5rem;
	row-gap: 2.5rem;
}

.footer__logo,
.footer__sns-icon {
	transition: all 0.3s;
}

.footer__logo:hover,
.footer__sns-icon:hover {
	opacity: 0.7;
}

.footer__copyright {
	color: #fff;
	display: block;
	font-family: "Gotu", sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	margin-top: 2.5rem;
	text-align: center;
}

.form-checkbox label {
	display: block;
}

.form-checkbox label:not(:first-of-type) {
	margin-top: 0.3125rem;
}

.form-checkbox input {
	display: none;
}

.form-checkbox input + span {
	cursor: pointer;
	display: inline-block;
	line-height: 1.4375;
	padding: 0 0 0 1.375rem;
	position: relative;
}

.form-checkbox input + span::before {
	border: 1px solid #B7AA00;
	content: "";
	display: block;
	height: 0.875rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.875rem;
}

.form-checkbox input + span::after {
	border-bottom: 0.125rem solid #C94800;
	border-left: 0.125rem solid #C94800;
	content: "";
	display: block;
	height: 0.3125rem;
	left: 0.125rem;
	opacity: 0;
	position: absolute;
	top: 0.6875rem;
	transform: translateY(-50%) rotate(-45deg);
	transition: 0.3s;
	width: 0.625rem;
}

.form-checkbox input:checked + span::after {
	opacity: 1;
}

.form-checkbox--privacy {
	padding: 0 1.9375rem;
}

.form-checkbox--privacy span {
	font-size: 0.875rem;
}

.form-checkbox--privacy input + span {
	padding-left: 1.9375rem;
}

.form-checkbox--privacy input + span::before {
	height: 1.375rem;
	top: 0.625rem;
	width: 1.375rem;
}

.form-checkbox--privacy input + span::after {
	height: 0.5rem;
	left: 0.1875rem;
	top: 0.5rem;
	width: 1rem;
}

.form-input input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #B7AA00;
	border-radius: 0;
	line-height: 1;
	padding: 0.375rem 0.9375rem 0.5rem;
	width: 100%;
}

.form-input input::-moz-placeholder {
	color: #B7AA00;
}

.form-input input::placeholder {
	color: #B7AA00;
}

.form-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url(./../images/common/arrow-yellow.png);
	background-position: right 0.4375rem top 50%;
	background-repeat: no-repeat;
	background-size: 0.75rem;
	border: 1px solid #B7AA00;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	font-size: 0.75rem;
	line-height: 1.4166666667;
	padding: 0.6875rem 3.125rem 0.75rem 0.5rem;
	width: 100%;
}

.form-select select::-ms-expand {
	display: none;
}

.form-select select:focus {
	border: 1px solid #B7AA00;
	box-shadow: none;
	outline: none;
}

.form-submit input {
	-webkit-text-decoration: none;
	background-color: #C5AE66;
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	line-height: 1;
	padding: 1.5625rem 7.8125rem;
	text-decoration: none;
	transition: 0.3s;
}

.form-submit input:hover,
.form-submit input:focus {
	outline: none;
}

.form-submit input::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.form-textarea textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid #B7AA00;
	border-radius: 0;
	font-size: 0.9375rem;
	height: 12.5rem;
	padding: 0.5rem 0.9375rem;
	width: 100%;
}

.form-textarea textarea:focus {
	border: 1px solid #B7AA00;
	box-shadow: none;
	outline: none;
}

.form__wrap {
	border-bottom: 0.0625rem dashed #B7AA00;
	padding-bottom: 1.4375rem;
}

.form__wrap + .form__wrap.form__wrap--privacy {
	border-bottom: 0;
	display: flex;
	justify-content: center;
	padding-bottom: 0;
}

.form__wrap + .form__wrap {
	padding-top: 1.5rem;
}

.form__label {
	font-weight: 700;
	line-height: 1.4375;
}

.form__label span {
	background-color: #C94800;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0.4em;
	line-height: 1.4166666667;
	margin-left: 0.5rem;
	padding: 0.125rem 0.75rem 0.125rem 0.6875rem;
	text-indent: 0.4em;
}

.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
	margin-top: 1.0625rem;
}

.form__input,
.form__textarea,
.form__select {
	flex-grow: 1;
}

.form__submit {
	margin-top: 1.5625rem;
	text-align: center;
}

.gallery-list {
	grid-gap: 0.5rem;
	display: grid;
	gap: 0.5rem;
}

.gallery-list__item {
	cursor: pointer;
}

.gallery-list__item img {
	-o-object-fit: cover;
	aspect-ratio: 580/369;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.gallery__inner.inner {
	max-width: 37.5rem;
}

.gallery__list {
	margin-top: 2.25rem;
}

/* =====================================================
コース画像拡大モーダル （ここから本PEN のコア）
===================================================== */

#grayDisplay {
	background: rgba(32, 32, 32, 0.8);
	display: none;
	height: 100%;
	left: 0; /* コンテンツ全てに対して固定的に 1160pxとか指定されているときの対応で、
  ダサいが!importantつける */
	max-width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

#grayDisplay img {
	-o-object-fit: contain;
	bottom: 0;
	height: 90%;
	left: 0;
	margin: auto;
	max-height: 90%;
	max-width: 90%;
	object-fit: contain;
	position: absolute;
	right: 0;
	top: 0;
}

.header {
	background: #fff;
	height: 5rem;
	transition: all 0.3s;
}

.header.fixed {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: space-between;
	padding: 0 0.9375rem;
}

.header__logo {
	height: inherit;
	max-width: 6.375rem;
	transition: all 0.3s;
	width: 100%;
	z-index: 999;
}

.header__logo:hover {
	opacity: 0.7;
}

.header__logo a {
	align-items: center;
	display: flex;
	height: inherit;
}

.header__logo img {
	-o-object-fit: contain;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.header__nav {
	display: none;
	height: inherit;
}

.header__nav-items {
	display: flex;
	gap: 2.5rem;
	height: inherit;
}

.header__nav-item {
	height: inherit;
}

.header__nav-item span {
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.625rem;
	line-height: 1.5;
	margin-top: 0.25rem;
}

.header__nav-item a {
	align-items: center;
	color: #0D2936;
	display: flex;
	flex-direction: column;
	font-family: "Gotu", sans-serif;
	font-size: 1.125rem;
	height: inherit;
	justify-content: center;
	position: relative;
}

.header__nav-item a::after {
	background: #0D2936;
	bottom: 0.625rem;
	content: "";
	height: 0.0625rem;
	left: 10%; /*絶対配置で線の位置を決める*/
	position: absolute;
	transform: scale(0, 1); /*X方向0、Y方向1*/
	transform-origin: center top; /*上部中央基点*/ /*アニメーションの指定*/
	transition: all 0.3s; /*線の形状*/
	width: 80%;
}

/*現在地とhoverの設定*/

.header__nav-item a:hover::after {
	transform: scale(1, 1); /*X方向にスケール拡大*/
}

.header__hamburger {
	border: none;
	cursor: pointer;
	height: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	transition: 0.3s;
	width: 2rem;
	z-index: 999;
}

.header__hamburger.is-open {
	background-color: transparent;
}

.header__hamburger span {
	background-color: #fff;
	display: block;
	height: 0.0625rem;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	transition: 0.5s;
	width: 2rem;
}

.header__hamburger span:nth-of-type(1) {
	top: -0.6875rem;
}

.header__hamburger span:nth-of-type(2) {
	top: 0;
}

.header__hamburger span:nth-of-type(3) {
	top: 0.6875rem;
}

.header__hamburger.is-open span:nth-of-type(1) {
	top: 0;
	transform: translateX(-50%) rotate(37deg) scale(1.2);
}

.header__hamburger.is-open span:nth-of-type(2) {
	opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
	top: -0.125rem;
	transform: translateX(-50%) rotate(-37deg) scale(1.2);
}

.header__drawer {
	background-color: #B7AA00;
	bottom: 0;
	display: none;
	height: 100vh;
	left: 0;
	padding-top: 5rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 900;
}

.header__drawer::-webkit-scrollbar {
	display: none;
}

.header__drawer-inner {
	height: 100%;
	overflow-y: scroll;
	padding: 0 0.875rem;
	scrollbar-width: none;
}

.header__drawer-contents {
	display: flex;
	margin-top: 1.5rem;
	padding-left: 1.4375rem;
}

.header__drawer-wrap {
	width: 50%;
}

.header__drawer-wrap + .header__drawer-wrap {
	padding-left: 0.6875rem;
}

.information-list {
	animation: fade 0.3s;
	display: block;
	padding: 1.375rem;
}

.information-list__img {
	width: 100%;
}

.information-list__img--sub {
	margin-top: 0.375rem;
}

.information-list__img img {
	-o-object-fit: cover;
	aspect-ratio: 345/227;
	object-fit: cover;
	width: 100%;
}

.information-list__img--sub img {
	aspect-ratio: 297/189;
}

.information-list__wrap {
	margin-top: 1.5rem;
	width: 100%;
}

.information-list__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.2;
	padding-bottom: 0.375rem;
}

.information-list__title--sub {
	font-size: 1.5rem;
	line-height: 1;
	padding-bottom: 0.5rem;
}

.information-list__text {
	line-height: 1.5;
	margin-top: 0.5rem;
}

.information-tab-item {
	background-color: #fdffba;
	box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.25);
	color: #B7AA00;
	cursor: pointer;
	flex-shrink: 0;
	padding: 0.625rem;
	position: relative;
	text-align: center;
	transition: all 0.3s;
}

.information-tab-item span {
	flex-shrink: 0;
	font-size: 0.875rem;
	line-height: 1.4285714286;
	position: relative;
}

.information-tab-item span svg {
	height: 4rem;
	width: 4rem;
}

.information-tab-item span svg path {
	fill: #B7AA00;
}

.information-tab-item:hover {
	background-color: #B7AA00;
	color: #fff;
}

.information-tab-item:hover span svg path {
	fill: #fff;
}

.information-tab-item.is-active span svg path {
	fill: #fff;
}

.information-tab-item.is-active {
	background-color: #B7AA00;
	color: #fff;
}

.information-tab-items {
	grid-column-gap: 1.1875rem;
	-moz-column-gap: 1.1875rem;
	column-gap: 1.1875rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.information-tab__content-item {
	background-color: #fff;
	border: 1px solid #73B2C8;
	display: none;
	padding: 1.5625rem;
}

.information-tab__content-item.is-active {
	animation: fade 0.3s;
	display: block;
}

.information-tab__content {
	margin-top: 1rem;
}

.information {
	background-color: #FFFAE5;
	padding: 5rem 0;
}

.information__list {
	margin: 0 auto;
	margin-top: 1.5rem;
	max-width: 37.5rem;
}

.information-list__btn {
	margin-top: 2.5625rem;
	padding-bottom: 0.1875rem;
	text-align: center;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.mv {
	height: 100vh;
	min-height: 25rem;
	position: relative;
	z-index: 1;
}

.mv--sub {
	height: 28.75rem;
}

.mv__inner {
	height: inherit;
	min-height: inherit;
}

.mv__title-wrap {
	color: #fff;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 2;
}

.mv__main-title {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 2.5rem;
	letter-spacing: 0.54em;
	line-height: 1.2;
	text-indent: 0.54em;
}

.mv__main-title--sub {
	letter-spacing: normal;
	letter-spacing: initial;
	text-indent: 0;
	text-indent: initial;
}

.mv__sub-title {
	color: #fff;
	font-family: "Gotu", sans-serif;
	font-size: 1.25rem;
	line-height: 1.65;
}

.mv__swiper,
.mv__swiper-img,
.mv__swiper-img img {
	height: inherit;
	min-height: inherit;
}

.mv__swiper-img img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.nav-items {
	flex-shrink: 0;
}

.nav-items__item {
	width: 100%;
}

.nav-items__item-category {
	transition: all 0.3s;
}

.nav-items__item-category:hover {
	opacity: 0.7;
}

.nav-items__item a {
	color: #fff;
	display: inline-block;
	line-height: 1.125;
	padding: 1.25rem 0 1.25rem 1.5rem;
	width: 100%;
}

.nav-items__item--sitemap a {
	color: #0D2936;
}

.nav-items__item-category:nth-child(1) a {
	font-weight: 700;
	position: relative;
}

.nav-items__item-category:nth-child(1) a::before {
	-webkit-mask-image: url(../images/common/vocal-icon1.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-size: contain;
	background-color: #fff;
	content: "";
	height: 1.125rem;
	left: 0;
	mask-image: url(../images/common/vocal-icon1.png);
	mask-position: center center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	right: 0;
	top: 36%;
	width: 1.125rem;
}

.nav-items__item--sitemap a span::before {
	background-color: #0D2936;
}

.nav-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.page-top {
	background-color: #fff;
	border-radius: 50%;
	bottom: 9.375rem;
	height: 3.3125rem;
	opacity: 0;
	position: fixed;
	right: 0.75rem;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 3.3125rem;
	z-index: 1000;
}

.page-top.is-show {
	opacity: 1;
	visibility: visible;
}

.page-top:hover.is-show {
	opacity: 0.7;
}

.price-list {
	width: 100%;
}

.price-list__type + .price-list__type {
	margin-top: 2.5rem;
}

.price-list__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	padding-bottom: 0.25rem;
	width: 100%;
}

.price-list__items {
	margin-top: 0.5rem;
}

.price-list__item {
	display: flex;
	gap: 1.25rem;
	justify-content: space-between;
}

.price-list__item + .price-list__item {
	margin-top: 0.5rem;
}

.price-list__text,
.price-list__yen {
	font-size: 0.875rem;
	line-height: 1.7142857143;
}

.price {
	background-color: #FFFAE5;
	padding: 5rem 0;
	position: relative;
}

.price__content {
	display: flex;
	flex-direction: column-reverse;
	margin: 0 auto;
	margin-top: 1.5rem;
}

.price__list {
	margin-top: 2.5rem;
}

.price__img {
	width: 100%;
}

.price__img img {
	-o-object-fit: cover;
	aspect-ratio: 345/227;
	object-fit: cover;
	width: 100%;
}

.price__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.section-header {
	text-align: center;
}

.section-header__title {
	display: block;
	font-family: "Gotu", sans-serif;
	font-size: 2rem;
	line-height: 1.25;
}

.section-header__title::first-letter {
	color: #B7AA00;
}

.section-header__subtitle {
	color: #B7AA00;
	display: block;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 0.25rem;
	padding-bottom: 0.25rem;
	text-align: center;
}

.sidebar-header {
	align-items: center;
	font-size: 1.5rem;
	line-height: 1.4583333333;
	padding-left: 1.75rem;
	position: relative;
}

.sidebar-header::before {
	background-color: #B7AA00;
	content: "";
	height: 2.5rem;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5rem;
}

.single-blog__date {
	font-family: "Gotu", sans-serif;
	font-size: 0.875rem;
	line-height: 1.2857142857;
}

.single-blog__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.4583333333;
	margin-top: 0.5rem;
	padding-bottom: 0.1875rem;
}

.single-blog__img,
.single-blog__content div {
	margin-top: 1.5rem;
	width: 100%;
}

.single-blog__img img,
.single-blog__content div img {
	-o-object-fit: cover;
	aspect-ratio: 700/468;
	object-fit: cover;
	transition: all 0.3s;
	width: 100%;
}

.single-blog__content p {
	line-height: 1.5;
	margin-top: 1.5rem;
}

.single-blog__content ul {
	margin-top: 1.5rem;
}

.single-blog__content ul li {
	line-height: 1.5;
	padding-left: 1.6875rem;
	position: relative;
}

.single-blog__content ul li::before {
	background-image: url(../images/common/starfish2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 1.125rem;
	left: 0;
	position: absolute;
	right: 0;
	top: 0.25rem;
	width: 1.125rem;
}

.single-blog__content ul li:not(:first-child) {
	margin-top: 0.25rem;
}

.single-blog__pagenavi {
	margin-top: 2.5rem;
}

.sitemap__content {
	display: flex;
	margin-top: 2.5rem;
	padding-left: 1.4375rem;
}

.sitemap__wrap {
	width: 50%;
}

.sitemap__wrap:first-child {
	width: 50%;
}

.sitemap__wrap + .sitemap__wrap {
	flex-grow: 1;
	padding-left: 2.0625rem;
	width: 50%;
}

.sub-blog__inner {
	max-width: 32.5rem;
}

/*****サイドバー*****/

.sub-blog__sidebar {
	margin-top: 5.25rem;
}

.sub-campaign-items {
	grid-row-gap: 2.5rem;
	display: grid;
	justify-content: center;
	row-gap: 2.5rem;
}

.sub-campaign-items__item {
	max-width: 17.5rem;
	width: 100%;
}

.sub-campaign__items {
	margin-top: 2.5rem;
}

.sub-campaign__pagenavi {
	margin-top: 4.8125rem;
}

.contactform {
	position: relative;
}

.contactform::before {
	background-image: url(../images/common/goldfish2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	left: 0.9375rem;
	min-height: 3.4375rem;
	min-width: 7.5rem;
	position: absolute;
	top: -1.5rem;
	z-index: -1;
}

.contactform__inner.inner {
	max-width: 46.875rem;
	width: 100%;
}

.sub-price-list {
	border-collapse: collapse;
	line-height: 1;
	width: 100%;
}

.sub-price-list__head {
	background-color: #B7AA00;
	border: 1px solid #B7AA00;
	padding: 0.375rem 0;
	width: 100%;
}

.sub-price-list__wrapper {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}

.sub-price-list__wrapper img {
	height: 1.5rem;
	width: 1.5rem;
}

.sub-price-list__wrapper span {
	color: #fff;
	font-weight: 700;
	line-height: 1.5;
}

.sub-price-list__text,
.sub-price-list__yen {
	border: 1px solid #B7AA00;
	height: 3.75rem;
	line-height: 1.5;
	padding: 0.375rem 1rem 0.375rem;
}

.sub-price-list__text {
	text-align: left;
	width: 69.5652173913%;
}

.sub-price-list__yen {
	text-align: right;
	width: 30.4347826087%;
}

.sub-price__inner.inner {
	max-width: 33.75rem;
}

.sub-price__wrapper {
	margin-top: 1.5rem;
}

.sub-price__list + .sub-price__list {
	margin-top: 2.5rem;
}

.sub-voice-items {
	grid-row-gap: 2.5rem;
	display: grid;
	justify-content: center;
	row-gap: 2.5rem;
}

.sub-voice-items__item {
	width: 100%;
}

.sub-voice__inner.inner {
	max-width: 31.25rem;
}

.sub-voice__list {
	margin-top: 2.5rem;
}

.sub-voice__pagenavi {
	margin-top: 5rem;
}

.test {
	margin-bottom: 3.125rem;
	margin-top: 9.375rem;
}

.toggle-list__item + .toggle-list__item {
	margin-top: -0.125rem;
}

.toggle-list__item-question,
.toggle-list__item-answer {
	color: #B7AA00;
	cursor: pointer;
	font-size: 1.25rem;
	line-height: 1.75;
	padding-left: 2rem;
}

.toggle-list__item-question {
	cursor: pointer;
	position: relative;
	text-indent: -0.1875rem;
}

.toggle-list__item-question ul {
	display: none;
}

.toggle-list__item-top {
	padding: 0.1875rem 0;
	text-indent: 0.0625rem;
}

.toggle-list__item-answer {
	margin-left: 1.5rem;
	position: relative;
}

.toggle-list__item-question::before,
.toggle-list__item-answer::before {
	-webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
	background-color: #B7AA00;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	content: "";
	height: 1.13666rem;
	left: 0.1875rem;
	position: absolute;
	top: 25%;
	transition: 0.3s;
	width: 1.3125rem;
}

.toggle-list__item-question::before {
	transform: rotate(180deg);
}

.toggle-list__item-question--two::before {
	transform: rotate(90deg);
}

.toggle-list__item-answer::before {
	transform: rotate(90deg);
}

.toggle-list__item-question.is-open::before {
	transform: rotate(90deg);
}

.toggle-list__item-question--two.is-open::before {
	transform: rotate(180deg);
}

.toggle-list__item-answer.is-open::before {
	transform: rotate(180deg);
}

.voice-card {
	box-shadow: 0.125rem 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.25);
	padding: 0.9375rem 1rem 1.5rem;
}

.voice-card__contents {
	align-items: end;
	display: flex;
	flex-direction: column-reverse;
	gap: 0.5rem;
	justify-content: space-between;
}

.voice-card__content {
	width: 100%;
}

.voice-card__meta {
	align-items: end;
	display: flex;
	justify-content: space-between;
}

.voice-card__age {
	font-size: 0.75rem;
	line-height: 1.5;
}

.voice-card__category {
	border: 0.0625rem solid #B7AA00;
	color: #B7AA00;
	display: inline-block;
	flex-shrink: 0;
	font-size: 0.75rem;
	line-height: 1.8333333333;
	padding: 0.1875rem 0.6875rem;
}

.voice-card__title {
	border-bottom: 0.0625rem solid #B7AA00;
	font-weight: 500;
	line-height: 1.4375;
	margin-top: 0.25rem;
	padding-bottom: 0.25rem;
	width: 100%;
}

.voice-card__img {
	width: 100%;
}

.voice-card__img img {
	-o-object-fit: cover;
	aspect-ratio: 151/117;
	object-fit: cover;
	width: 100%;
}

.voice-card__text {
	line-height: 1.5;
	margin-top: 0.9375rem;
}

.voice-list {
	width: 100%;
}

.voice-list__item + .voice-list__item {
	margin-top: 2.5rem;
}

.voice__inner {
	max-width: 31.25rem;
}

.voice__list {
	margin: 0 auto;
	margin-top: 2.5rem;
}

.voice__btn {
	margin-top: 2.5625rem;
	padding-bottom: 0.1875rem;
	text-align: center;
}

.wp-pagenavi {
	clear: both;
	display: flex;
	gap: 0.75rem;
	justify-content: center;
	text-align: center;
}

.wp-pagenavi a,
.wp-pagenavi span {
	align-items: center;
	background-color: #fff;
	border: 1px solid #B7AA00;
	color: #B7AA00;
	display: inline-flex;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	height: 2.1875rem;
	justify-content: center;
	line-height: 1.1875;
	transition: 0.3s;
	width: 2.1875rem;
}

.wp-pagenavi--single a {
	width: 6.25rem;
}

.wp-pagenavi a.u-desktop {
	display: none;
}

.wp-pagenavi a:hover {
	background-color: #B7AA00;
	border-color: #B7AA00;
	color: #fff;
	opacity: 1;
}

.wp-pagenavi .current {
	background-color: #B7AA00;
	border-color: #B7AA00;
	color: #fff;
}

.previouspostslink {
	margin-right: 1.875rem;
	position: relative;
}

.nextpostslink {
	margin-left: 1.875rem;
}

.previouspostslink::after,
.nextpostslink::after {
	border-bottom: 0.0625rem solid #B7AA00;
	border-left: 0.0625rem solid #B7AA00;
	content: "";
	height: 0.625rem;
	position: absolute;
	top: 35%;
	width: 0.625rem;
}

.previouspostslink:hover::after,
.nextpostslink:hover::after {
	border-bottom: 0.0625rem solid #fff;
	border-left: 0.0625rem solid #fff;
}

.previouspostslink::after {
	left: 41%;
	transform: rotate(45deg);
}

.nextpostslink::after {
	left: 25%;
	transform: rotate(-135deg);
}

.previouspostslink--single::after {
	left: 10%;
}

.nextpostslink--single::after {
	left: 80%;
}

.wp-pagenavi .nextpostslink {
	position: relative;
}

.wp-pagenavi .centarpostslink {
	margin-left: 0;
}

.wpcf7-spinner {
	display: none;
}

.wpcf7-list-item {
	display: block;
	margin: 0;
}

input.wpcf7-not-valid,
textarea.wpcf7-not-valid {
	background: rgba(201, 72, 0, 0.2);
	border: 1px solid #c94800;
}

input.wpcf7-not-valid::-moz-placeholder {
	color: #fff;
}

input.wpcf7-not-valid::placeholder {
	color: #fff;
}

.wpcf7-not-valid [type=checkbox] + span::before {
	background: rgba(201, 72, 0, 0.2);
	border: 1px solid #c94800;
}

.wpcf7-not-valid-tip {
	margin-top: 0.625rem;
}

.wpcf7 form.invalid .wpcf7-response-output {
	border: none;
	color: #c94800;
	font-size: 0.875rem;
	margin-top: 1.25rem;
	text-align: center;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4814814815vw;
}

.layout-aboutus {
	margin-top: 8.625rem;
}

.layout-aboutus--sub {
	margin-top: 14.375rem;
}

.layout-access {
	margin-top: 8.75rem;
}

.layout-archive-blog {
	margin-top: 9.375rem;
}

.layout-blog {
	margin-top: 0;
}

.layout-breadcrumb {
	margin-top: 0.5rem;
}

.layout-breadcrumb--404 {
	margin-top: 0;
	padding-top: 0rem;
}

.layout-campaign {
	margin-top: 7.5rem;
}

.layout-contact-thanks {
	margin-top: 9.375rem;
}

.layout-contact {
	margin-top: 8.75rem;
}

.layout-contactform {
	margin-top: 9.375rem;
}

.layout-error {
	margin-top: 0.5rem;
}

.layout-faq {
	margin-top: 9.375rem;
}

.layout-footer {
	margin-top: 10rem;
}

.layout-gallery {
	margin-top: 7.5rem;
}

.layout-information {
	margin-top: 10.25rem;
}

.layout-price {
	margin-top: 8.875rem;
}

.layout-privacypolicy {
	margin-top: 9.375rem;
}

.layout-sub-blog {
	margin-top: 9.3125rem;
}

.layout-sitemap {
	margin-top: 9.375rem;
}

.layout-sub-campaign {
	margin-top: 9.375rem;
}

.layout-sub-contact {
	margin-top: 8.75rem;
}

.layout-sub-footer {
	margin-top: 9.8125rem;
}

.layout-sub-footer--contact {
	margin-top: 7.5rem;
}

.layout-sub-information {
	margin-top: 9.375rem;
}

.layout-sub-price {
	margin-top: 9.375rem;
}

.layout-sub-voice {
	margin-top: 9.375rem;
}

.layout-voice {
	margin-top: 8.75rem;
}

.aboutus__inner.inner {
	max-width: none;
	max-width: initial;
}

.aboutus__wrap {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1.875rem;
}

.aboutus__main-title {
	font-size: 2.875rem;
	max-width: 25rem;
	width: 100%;
}

.aboutus__img {
	max-width: 25rem;
}

.aboutus__img img {
	aspect-ratio: 400/606;
}

.aboutus__wrap-right {
	margin-top: 1.625rem;
	padding-left: 3.75rem;
}

.aboutus__text {
	margin-top: 1.5rem;
	max-width: 25rem;
	width: 100%;
}

.aboutus__btn {
	margin-top: 2.5625rem;
}

.access__address {
	margin-top: 2.5rem;
}

.archive-blog::before {
	left: calc(50% - min(48%, 38.6875rem));
	min-height: 8.625rem;
	min-width: 18.8125rem;
	top: -4.375rem;
}

.archive-blog__inner {
	grid-gap: 5rem;
	display: grid;
	gap: 5rem;
	grid-template-columns: 1fr 18.375rem;
}

.archive-blog__inner.inner {
	padding: 0 1.5625rem;
}

.archive-blog__list {
	-moz-column-gap: 2.5rem;
	border-top: none;
	column-gap: 2.5rem;
	flex-wrap: wrap;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 5rem;
}

.archive-blog__sidebar {
	margin-top: 0.25rem;
}

.blog-list {
	-moz-column-gap: 2.5rem;
	border-top: none;
	column-gap: 2.5rem;
	flex-wrap: wrap;
	grid-template-columns: repeat(3, 1fr);
	max-width: none;
	max-width: initial;
	row-gap: 5rem;
}

.blog-list--sub {
	grid-template-columns: repeat(2, 1fr);
}

.blog-sidebar-review__meta {
	align-items: end;
	display: flex;
	justify-content: space-between;
}

.blog-sidebar-review__title {
	font-size: 1.5rem;
	line-height: 1.4583333333;
	margin-top: 0.5rem;
	max-width: 17.25rem;
	width: 100%;
}

.blog-sidebar__inner.inner {
	padding: 0;
}

.blog-sidebar__inner--single.inner {
	padding: 0;
}

.blog {
	padding-top: 6.25rem;
}

.blog__inner.inner {
	padding: 0 25px;
}

.blog__list {
	margin-top: 5rem;
}

.blog__btn {
	margin-top: 5rem;
}

.breadcrumb--404 {
	padding-top: 6.125rem;
}

.breadcrumb__inner {
	max-width: 75rem;
	padding: 0 1.5625rem;
}

.campaign-card__img img {
	aspect-ratio: 333/223;
}

.campaign-card__img--sidebar img {
	aspect-ratio: 294/188;
}

.campaign-card__content {
	padding-bottom: 2.4375rem;
	padding-top: 1.5rem;
}

.campaign-card__content--sub {
	padding-bottom: 2.75rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.campaign-card__content--sidebar {
	padding-bottom: 1.5rem;
	padding-top: 1rem;
}

.campaign-card__category {
	padding: 0.3125rem 0.9375rem;
}

.campaign-card__title--sub {
	font-size: 1.5rem;
	line-height: 1.4583333333;
	padding-bottom: 0.125rem;
}

.campaign-card__title--sidebar {
	font-size: 1rem;
	line-height: 1.5;
}

.campaign-card__wrapper {
	margin-top: 1rem;
}

.campaign-card__wrapper--sub {
	margin-top: 1.5rem;
}

.campaign-card__wrapper--sidebar {
	margin-top: 0.5625rem;
}

.campaign-card__subtitle {
	font-size: 1rem;
	line-height: 1.5;
}

.campaign-card__subtitle--sidebar {
	font-size: 0.875rem;
	line-height: 1.7142857143;
}

.campaign-card__price {
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;
}

.campaign-card__price--sub {
	-moz-column-gap: 2.5rem;
	column-gap: 2.5rem;
}

.campaign-card__false span {
	font-size: 1.5rem;
}

.campaign-card__false--sidebar span {
	font-size: 1.25rem;
}

.campaign-card__true span {
	font-size: 1.5rem;
}

.campaign-card__true--sidebar span {
	font-size: 1.5rem;
}

.campaign-card__text {
	display: block;
	line-height: 1.5;
	margin-top: 1.5625rem;
}

.campaign-card__date,
.campaign-card__comment,
.campaign-card__btn {
	display: block;
	text-align: center;
}

.campaign-card__date,
.campaign-card__comment {
	color: #B7AA00;
}

.campaign-card__date {
	font-family: "Lato", sans-serif;
	font-size: 1.25rem;
	font-weight: 700;
	margin-top: 1.9375rem;
}

.campaign-card__comment {
	font-size: 0.875rem;
	line-height: 1.2857142857;
	margin-top: 0.4375rem;
}

.campaign-card__btn {
	margin-top: 1rem;
}

.category-tab {
	-moz-column-gap: 2rem;
	column-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(10.125rem, 1fr));
	justify-content: left;
}

.campaign__inner.inner {
	padding-left: 1.4375rem;
}

.campaign__swiper {
	margin-top: 2.5rem;
}

.campaign__btn {
	margin-top: 4.8125rem;
}

.company-profile__list {
	font-size: 1rem;
	margin: 0 auto;
	max-width: 50rem;
	padding-bottom: 1.5625rem;
}

.company-profile__list + .company-profile__list {
	margin-top: 1.5625rem;
}

.company-profile__term {
	max-width: 8.75rem;
}

.error {
	background-position: calc(50% - min(48%, 12rem)) -1.875rem;
	background-size: 43.625rem;
	padding: 7.4375rem 0 9.3125rem;
}

.error__title {
	font-size: 10rem;
	line-height: 1.2;
}

.error__text {
	margin-top: 1.5rem;
}

.error__btn {
	margin-top: 5.0625rem;
}

.explanation__title {
	font-size: 2rem;
	line-height: 1.4375;
}

.faq-list__item-question {
	font-size: 1.25rem;
	padding: 1.625rem 5rem 1.625rem 2.5rem;
}

.faq-list__item-question::before,
.faq-list__item-question::after {
	right: 2.5rem;
	width: 2rem;
}

.faq-list__item-answer {
	margin-top: 0.9375rem;
	padding: 2.4375rem 2.5rem 2.4375rem 2.4375rem;
}

.faq__inner.inner {
	max-width: 46.875rem;
}

.footer {
	padding: 5rem 0;
}

.footer--404 {
	padding-top: 5rem;
}

.footer__inner {
	max-width: 70.625rem;
	padding: 0 1.5625rem;
	width: 100%;
}

.footer__top {
	display: flex;
	gap: 2.5rem;
	margin-top: 0;
}

.footer__logo {
	margin: 0;
	margin: initial;
	max-width: 12.5rem;
}

.footer__sns {
	justify-content: left;
	margin-top: 2.1875rem;
}

.footer__sns-icon {
	max-width: 2rem;
}

.footer__bottom {
	margin-top: 1.5rem;
	padding-left: 1.375rem;
	row-gap: 0;
}

.footer__copyright {
	font-size: 0.875rem;
	line-height: 1.2857142857;
	margin-top: 5rem;
}

.form-checkbox--privacy input + span {
	padding-left: 2.4375rem;
}

.form-select select {
	padding: 0.4375rem 3.125rem 0.375rem 0.5rem;
}

.form-submit input:hover {
	opacity: 0.8;
}

.form__wrap {
	display: flex;
	padding-bottom: 2.4375rem;
}

.form__wrap + .form__wrap.form__wrap--privacy {
	padding-bottom: 0;
	padding-top: 4.9375rem;
}

.form__wrap.form__wrap--textarea {
	align-items: flex-start;
}

.form__wrap + .form__wrap {
	padding-top: 2.5rem;
}

.form__label {
	max-width: 13.75rem;
	width: 100%;
}

.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
	margin-top: 0;
}

.form__checkbox {
	margin-top: 0.125rem;
}

.form__submit {
	margin-top: 2.5rem;
}

.gallery-list {
	grid-auto-flow: dense;
	grid-template-columns: 1fr 5rem 1fr;
}

.gallery-list__item {
	grid-column: span 2;
}

.gallery-list__item:nth-of-type(6n+1),
.gallery-list__item:nth-of-type(6n+6) {
	grid-column: span 1;
	grid-row: span 2;
}

.gallery {
	position: relative;
}

.gallery__inner.inner {
	max-width: 1130px;
}

.gallery__list {
	margin-top: 5rem;
}

.header {
	height: 5.625rem;
}

.header__inner {
	padding: 0 2.5rem;
}

.header__logo {
	max-width: 8.3125rem;
}

.header__nav {
	display: block;
}

.header__hamburger {
	display: none;
}

.information-list {
	align-items: center;
	display: flex;
	gap: 3rem;
	justify-content: center;
	padding: 1rem 1.375rem 1.25rem;
}

.information-list--second {
	flex-direction: row-reverse;
}

.information-list__img {
	width: 50%;
}

.information-list__img img {
	aspect-ratio: 540/356;
}

.information-list__img--sub img {
	aspect-ratio: 492/313;
}

.information-list__wrap {
	margin-top: 0;
	padding-left: 3rem;
	width: 50%;
}

.information-list__wrap--sub {
	padding-left: 0;
}

.information-list__title {
	font-size: 1.5rem;
	line-height: 1;
}

.information-tab-item {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}

.information-tab-item span {
	font-size: 1.5rem;
	line-height: 1.4583333333;
}

.information-tab-items {
	-moz-column-gap: 5.625rem;
	column-gap: 5.625rem;
}

.information-tab__content {
	margin-top: 1.5rem;
}

.information {
	padding: 6.25rem 0 4.75rem;
}

.information__list {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
	max-width: 67.5rem;
}

.inner {
	max-width: 1130px;
	padding-left: 25px;
	padding-right: 25px;
}

.mv--sub {
	height: 34.25rem;
}

.mv__title-wrap--sub {
	top: 61%;
	transform: translate(-50%, -61%);
}

.mv__main-title {
	font-size: 5rem;
	line-height: 1.25;
}

.nav-list {
	gap: 0.8125rem;
	grid-template-columns: repeat(4, 1fr);
}

.nav-list__items:nth-child(2n) {
	margin-top: 0;
}

.page-top {
	bottom: 5.875rem;
	height: 5rem;
	right: 1.25rem;
	width: 5rem;
}

.price-list {
	max-width: 30.75rem;
}

.price-list__text,
.price-list__yen {
	font-size: 1rem;
	line-height: 1.5;
}

.price {
	padding: 6.25rem 0;
}

.price::after {
	background-image: url(../images/common/goldmusic3.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 3.5625rem;
	content: "";
	left: calc(50% - min(48%, 39.375rem));
	min-height: 12.5625rem;
	min-width: 27.3125rem;
	position: absolute;
}

.price__content {
	flex-direction: row;
	margin-top: 2.5rem;
}

.price__list {
	margin-top: 0;
}

.price__img {
	margin-left: 5.875rem;
	max-width: 30.75rem;
}

.price__img img {
	aspect-ratio: 492/746;
}

.price__btn {
	margin-top: 5.0625rem;
	padding-bottom: 0.1875rem;
}

.privacypolicy__inner.inner {
	max-width: 53.125rem;
}

.section-header__title {
	font-size: 2.5rem;
	line-height: 1;
}

.section-header__subtitle {
	margin-top: 0.5rem;
	padding-bottom: 0;
}

.section-header--white .section-header__title::first-letter {
	color: #fdffba;
}

.section-header--white .section-header__subtitle {
	color: #fff;
}

.section-header--white {
	color: #fff;
}

.single-blog__title {
	font-size: 2rem;
	line-height: 1.4375;
	margin-top: 0.4375rem;
	padding-bottom: 0;
}

.single-blog__img,
.single-blog__content div {
	margin-top: 2.5rem;
}

.single-blog__content p {
	margin-top: 2.4375rem;
}

.single-blog__content ul {
	margin-top: 2.5rem;
}

.single-blog__pagenavi {
	margin-top: 5.125rem;
}

.sitemap__content {
	gap: 5.4375rem;
	margin-top: 1.5rem;
	padding-left: 1.375rem;
}

.sitemap__wrap {
	display: flex;
	gap: 10.375rem;
}

.sitemap__wrap + .sitemap__wrap {
	justify-content: right;
}

.sub-blog__inner {
	grid-gap: 5rem;
	display: grid;
	gap: 5rem;
	grid-template-columns: 1fr 18.375rem;
	min-width: 0;
	min-width: initial;
}

.sub-blog__wrapper {
	width: 100%;
}

.sub-blog__sidebar {
	margin-top: 0.25rem;
}

.sub-campaign-items {
	-moz-column-gap: 2.5rem;
	column-gap: 2.5rem;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 5rem;
}

.sub-campaign-items__item {
	max-width: none;
}

.sub-campaign__pagenavi {
	margin-top: 5rem;
}

.contactform::before {
	left: calc(50% - min(48%, 38.6875rem));
	min-height: 8.625rem;
	min-width: 18.8125rem;
	top: -4.375rem;
}

.sub-price-list__head {
	padding: 1.125rem 0;
	width: 28.49002849%;
}

.sub-price-list__wrapper {
	flex-direction: column-reverse;
}

.sub-price-list__wrapper img {
	height: 4rem;
	width: 4rem;
}

.sub-price-list__wrapper--vocal img {
	height: 3.375rem;
	width: 2.9375rem;
}

.sub-price-list__head.u-desktop {
	display: table-cell;
}

.sub-price-list__text,
.sub-price-list__yen {
	padding-bottom: 1.0625rem;
	padding-top: 1.0625rem;
}

.sub-price-list__text {
	width: 48.433048433%;
}

.sub-price-list__yen {
	width: 23.0769230769%;
}

.sub-price__inner.inner {
	max-width: 47rem;
}

.sub-price__wrapper {
	margin-top: 2.5rem;
}

.sub-price__list + .sub-price__list {
	margin-top: 5rem;
}

.sub-voice-items {
	-moz-column-gap: 2.5rem;
	column-gap: 2.5rem;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 5.1875rem;
}

.sub-voice-items__item {
	max-width: none;
}

.sub-voice__inner.inner {
	max-width: 1130px;
}

.sub-voice__pagenavi {
	margin-top: 4.5rem;
}

.terms-of-service__inner.inner {
	max-width: 53.125rem;
}

.voice-card {
	padding: 1.5rem;
}

.voice-card__contents {
	flex-direction: row;
	gap: 1rem;
}

.voice-card__category {
	padding: 0.3125rem 0.9375rem 0.3125rem 0.875rem;
}

.voice-card__title {
	font-size: 1.5rem;
	line-height: 1.4583333333;
	margin-top: 0.5rem;
	max-width: 17.25rem;
	width: 100%;
}

.voice-card__img {
	max-width: 11.25rem;
}

.voice-card__img img {
	aspect-ratio: 180/140;
	opacity: 0.8;
}

.voice-card__text {
	margin-top: 2.375rem;
}

.voice-list {
	grid-column-gap: 2.5rem;
	-moz-column-gap: 2.5rem;
	grid-row-gap: 5.1875rem;
	column-gap: 2.5rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: none;
	max-width: initial;
	row-gap: 5.1875rem;
}

.voice-list__item + .voice-list__item {
	margin-top: 0;
}

.voice-list__item:nth-of-type(2n+1) {
	margin-left: 0;
}

.voice {
	position: relative;
}

.voice::before {
	background-image: url(../images/common/drum-icon1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	left: calc(50% - min(48%, 38.6875rem));
	min-height: 7rem;
	min-width: 7rem;
	position: absolute;
	top: -7.375rem;
}

.voice::after {
	background-image: url(../images/common/piano-icon1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -4.25rem;
	content: "";
	min-height: 5rem;
	min-width: 6.4375rem;
	position: absolute;
	right: calc(50% - min(47%, 33.75rem));
}

.voice__inner {
	max-width: 70.625rem;
}

.voice__list {
	margin-top: 2.0625rem;
}

.voice__btn {
	margin-top: 4.875rem;
}

.wp-pagenavi a.u-desktop {
	display: inline-flex;
}

.previouspostslink {
	margin-right: 2.5rem;
}

.nextpostslink {
	margin-left: 2.5rem;
}

}

@media (min-width: 1080px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}

@keyframes fade {

from {
	opacity: 0;
}

to {
	opacity: 1;
}

}


/*# sourceMappingURL=style.css.map */
