@use 'global' as *;

.layout-aboutus {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: rem(138);
  }
}

.layout-aboutus--sub {
  margin-top: rem(52);
  @include mq('md') {
    margin-top: rem(230);
  }
}