@use 'global' as *;

.blog-sidebar-card {
  padding: rem(16);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.blog-sidebar-card__popularity {

}

.blog-sidebar-card__link {
  cursor: pointer;
}

.blog-sidebar-card__wrap {
  display: flex;
  gap: rem(16);
}

.blog-sidebar-card__img {
  width: 100%;
  max-width: rem(121);
  transition: .3s;
}

.blog-sidebar-card__link:hover .blog-sidebar-card__img img {
  opacity: 0.7;
}

.blog-sidebar-card__img img {
  width: 100%;
  aspect-ratio: 121/90;
  object-fit: cover;
  transition: all .3s;
}

.blog-sidebar-card__content {

}

.blog-sidebar-card__date {
  font-family: $english-font-family;
  font-size: rem(12);
  line-height: calc(18 / 12);
  @include mq(md){
    
  }
}

.blog-sidebar-card__title {
  font-weight: $medium;
  border-bottom: rem(1) solid $accent-color;
  padding-bottom: calc(rem(4) - rem(1));
  line-height: calc(23 / 16);
  @include mq(md){
    
  }
}

.blog-sidebar-card__title--sub {
  border-bottom: 0;
  padding-bottom: 0;
}

