@use 'global' as *;

.blog-sidebar-review {

}

.blog-sidebar-review__contents {
  margin-top: rem(27);
}

.blog-sidebar-review__img {
  width: 100%;
}

.blog-sidebar-review__img img {
  width: 100%;
  aspect-ratio: 294/218;
  object-fit: cover;
  border-radius: 45px;
}

.blog-sidebar-review__content {
  margin-top: rem(16);
}

.blog-sidebar-review__meta {
  @include mq('md') {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.blog-sidebar-review__age {
  font-size: rem(12);
  line-height: calc(18 / 12);
}

.blog-sidebar-review__title {
  font-weight: $medium;
  font-size: rem(24);
  line-height: calc(35 / 24);
  margin-top: rem(7);
  width: 100%;
  @include mq(md){
    font-size: rem(24);
    line-height: calc(35 / 24);
    margin-top: rem(8);
    max-width: rem(276);
    width: 100%;
  }
}

.blog-sidebar-review__btn {
  margin-top: rem(44);
  text-align: center;
}