@use 'global' as *;

.blog-card {
 
}

.blog-card a {
  display: block;
  height: 100%;
  background-color: $base-color;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
  border-radius: 45px;
}

.blog-card__img {
  padding: rem(16);
  width: 100%;
}

.blog-card__img img {
  width: 100%;
  aspect-ratio: 301/201;
  object-fit: cover;
  transition: all .3s;
  border-radius: 45px;
}

.blog-card:hover .blog-card__img img {
  opacity: 0.7;
}

.blog-card__meta {
  padding: calc(rem(8) - rem(3)) rem(16) rem(24) rem(16);
  @include mq(md){
      
  }
}

.blog-card__date {
  font-family: $english-font-family;
  font-size: rem(12);
  line-height: calc(18 / 12);
  @include mq(md){
    
  }
}

.blog-card__title,
.blog-card__text {
  line-height: calc(24 / 16);
}

.blog-card__title {
  font-weight: $medium;
  border-bottom: rem(1) solid $accent-color;
  padding-bottom: calc(rem(4) - rem(1));
  @include mq(md){
    
  }
}

.blog-card__text {
  margin-top: rem(16);
  font-weight: $normal;
}

