@use 'global' as *;

.btn-contactform {
  background: transparent;
  padding: 0;
  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 75px;
  position: relative;
  z-index: 1;
  display: inline-flex;
  transition: .5s;
  color: $base-color;
  max-width: rem(201);
  width: 100%;
  cursor: pointer;
}

.btn-contactform__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-contactform::before,
.btn-contactform::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 75px;
}

.btn-contactform::before {
  // content: "";
  // position: absolute;
  // top: calc(rem(4) + rem(1));
  // left: rem(4);
  // display: block;
  // width: 100%;
  // height: 100%;
  // border: rem(1) solid $accent-color;
  // z-index: -2;
  background: $accent-color;
  z-index: -1;
  transition: transform ease .5s, opacity .5s;
}

.btn-contactform::after {
  border: 1px solid $accent-color;
  box-sizing: border-box;
  z-index: -1;
  // content: "";
  // position: absolute;
  // top: 0;
  // left: 0;
  // display: block;
  // width: 100%;
  // height: 100%;
  // background: $base-color;
  // transform: scaleX(0);
  // transform-origin: left;
  // transition: .5s;
  // transition-property: transform;
  // z-index: -1;
}

.btn-contactform input {
  padding: rem(18) 0;
  z-index: 1;
}

.btn-contactform input[type=submit] {
  width: 100%;
  color: transparent;
}


.btn-contactform:hover {
  // opacity: 1;
}

.btn-contactform:hover::before {
  transform: scale(0);
  opacity: 0;
}

.btn-contactform:hover::after {
  // transform: scaleX(1);
  // transform-origin: left;
}

.btn-contactform:hover span {
  color: $accent-color;
}

.btn-contactform:hover span::before,
.btn-contactform:hover span::after {
  // background-color: $accent-color;
}