@use 'global' as *;

.btn {
  background: transparent;
  padding: rem(24) rem(80);
  border: 1px solid $accent-color;
  box-sizing: border-box;
  border-radius: 75px;
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: .5s;
  color: $base-color;
}

.btn::before,
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 75px;
}

.btn::before {
  background: $accent-color;
  z-index: -1;
  transition: transform ease .5s, opacity .5s;
}

.btn::after {
  border: 1px solid $accent-color;
  box-sizing: border-box;
  z-index: -1;
}

.btn:hover::before {
  transform: scale(0);
  opacity: 0;
}

.btn span {
  position: relative;
}

.btn:hover span {
  color: $accent-color;
}


//赤ボタン
.btn--red {
  border: 1px solid $accent2-color;
}

.btn--red::before {
  background: $accent2-color;
}

.btn--red::after {
  border: 1px solid $accent2-color;
}

.btn--red:hover span {
  color: $accent2-color;
}

//sp用ボタン
.btn--sp {
  padding: 0;
}

.btn--sp:hover {
  background-color: $base-color;
}

.btn--sp,
.btn--sp::before,
.btn--sp::after {
  border-radius: 0;
}

//ドロワーボタン
.btn--drawer {
  display: inline-flex;
  padding: rem(24) rem(20);
  width: 100%;
  max-width: rem(230);
  height: rem(50);
  align-items: center;
  justify-content: center;
}

//404ページ用ボタン
.btn--404 {
  border: 1px solid $base-color;
  background-color: $base-color;
}

.btn--404::before {
  background: $accent-color;
}

.btn--404::after {
  border: 1px solid $base-color;
}

.btn--404::span {
  color: $base-color;
}

.btn--404:hover {
  color: $accent-color;
}