@use 'global' as *;

.category-tab {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, rem(162));
  row-gap: rem(16);
  column-gap: rem(21);
  @include mq('md') {
    grid-template-columns: repeat(auto-fit, minmax(rem(162), 1fr));
    justify-content: left;
    column-gap: rem(32);
  }
}

.category-tab__items {
  
}