@use 'global' as *;

.category-tab-item {
  // min-width: rem(100);
  // width: fit-content;
  flex-shrink: 0;
  font-size: rem(14);
  line-height: calc(22 / 14);
  color: $accent-color;
  border: 1px solid $accent-color;
  background-color: $base-color;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  @include mq(md){
    
  }
}

.category-tab-item a {
  display: inline-block;
  padding: rem(5) 0;
  width: 100%;
}

.category-tab-item.is-active {
  color: $base-color;
  background-color: $accent-color;
}

.category-tab-item:hover {
  color: $base-color;
  background-color: $accent-color;
}