@use 'global' as *;

.contact {
  position: relative;
  @include mq('md') {
    
  }
}

.contact__inner {
  
}

.contact__inner.inner {
  // padding: 0 rem(21);
  // @include mq('md') {
  //   padding-right: $padding-pc;
  //   padding-left: $padding-pc;
  // }
}

.contact__link {
  color: $accent-color;
  font-size: rem(14);
  line-height: calc(18 / 14);
  margin-top: rem(8);
  text-align: center;
}

.contact__btn {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(3);
  @include mq('md') {
    
  }
}





