@use 'global' as *;

.contact-thanks {
  
}

.contact-thanks__text,
.contact-thanks__subtext {
  text-align: center;
}

.contact-thanks__text {
  line-height: calc(18 / 16);
}

.contact-thanks__subtext {
  line-height: calc(23 / 16);
  margin-top: rem(40);
}