@use 'global' as *;

.contact {
  position: relative;
  background-color: $accent-color;
  padding: rem(30) 0;
  @include mq('md') {
    
  }
}

.contact__inner {
  
}

.contact__inner.inner {
  // padding: 0 rem(21);
  // @include mq('md') {
  //   padding-right: $padding-pc;
  //   padding-left: $padding-pc;
  // }
}

.contact__text {
  color: $font-color;
  line-height: calc(24 / 16);
  margin-top: rem(24);
  text-align: center;
  @include mq('md') {
    margin-top: rem(40);
  }
}

.contact__btn {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(3);
  @include mq('md') {
    
  }
}





