@use 'global' as *;

.contact {
  position: relative;
  @include mq('md') {
    
  }
}

.contact::before {
  content: "";
  position: absolute;
  top: rem(-24);
  right: calc(50% - min(48%, rem(172)));
  background-image: url(../images/common/goldfish4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: rem(109);
  min-height: rem(50);
  @include mq('md') {
    top: rem(-37);
    right: calc(50% - min(48%, rem(669)));
    min-width: rem(301);
    min-height: rem(138);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }
}

.contact__inner {
  
}

.contact__inner.inner {
  // padding: 0 rem(21);
  // @include mq('md') {
  //   padding-right: $padding-pc;
  //   padding-left: $padding-pc;
  // }
}

.contact__content {
  
  @include mq('md') {
    display: flex;
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, .25);
    padding: rem(80) rem(112) rem(80) rem(50)
      
  };
}

.contact__place {
  text-align: center;
  padding: 0 rem(25);
  @include mq('md') {
    border-right: rem(1) solid $accent-color;
    padding-left: 0;
    padding-right: rem(82);
  }
}

.contact__logotitle {
  max-width: rem(295);
  width: 100%;
  margin: 0 auto; 
  border-bottom: rem(1) solid $accent-color;
  padding-bottom: calc(rem(6) - rem(1));
  @include mq('md') {
    max-width: rem(440);
    padding-bottom: rem(8);
  }
}

.contact__logo {
  max-width: rem(174);
  width: 100%;
  margin: 0 auto; 
  //height: inherit;
  z-index: 999;
  @include mq("md") {
    max-width: rem(200);
  }
}

.contact__access {
  @include mq('md') {
    display: flex;
    margin-top: rem(24);
    // align-items: start;
  }
}

.contact__address {
  margin-top: rem(16);
  flex-shrink: 0;
  max-width: rem(160);
  margin: 0 auto;
  @include mq('md') {
    text-align: left;
    margin-top: 0;
  }
}

.contact__text {
  line-height: calc(24 / 16);
  @include mq(md){
    
  }
}

.contact__text + .contact__text {
  margin-top: rem(4);
}

.contact__img {
  
}

.contact__map {
  width: 100%;
  max-width: rem(295);
  margin: 0 auto;
  margin-top: rem(16);
  @include mq('md') {
    max-width: rem(273);
    margin-top: 0;
    margin-left: rem(21); 
  }
}

.contact__map iframe {
  aspect-ratio: 295/160;
  width: 100%;
  height: 100%;
  @include mq('md') {
    aspect-ratio: 273/148;
  }
}

.contact__inquiry {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: 0;
    margin-left: rem(81);
    padding: rem(20) 0;
  }
}

.contact__link {
  color: $accent-color;
  font-size: rem(14);
  line-height: calc(18 / 14);
  margin-top: rem(8);
  text-align: center;
}

.contact__btn {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(3);
  @include mq('md') {
    
  }
}

.contact__img-bottom-left {
  display: none;
  @include mq('md') {
    display: block;
    position: absolute;
    top: rem(-40);
    left: rem(99);
    width: rem(301);
  }
}




