@use 'global' as *;

.footer {
  padding: rem(48) 0 rem(116);
  background-color: $base-color;
  @include mq(md){
    padding: rem(80) 0;
  }
}

.footer--404 {
  padding-top: rem(52);
  @include mq('md') {
    padding-top: rem(80);
  }
}

.footer__inner {
  margin: 0 auto;
  max-width: rem(530);
  padding: 0 rem(14);
  // max-width: rem(630);
  // width: 100%;
  @include mq(md){
    max-width: rem(1130);
    width: 100%;
    padding: 0 rem(25);
  }
}

.footer__content {

}

.footer__top {
  @include mq(md){
    margin-top: 0;
    display: grid;
    grid-template-columns: rem(180) rem(80) 1fr;
    gap: rem(40);
    margin: 0 auto; 
    padding-left: rem(70);
    // max-width: rem(200);
    // margin: initial;
  }
}

.footer__logo {
  max-width: rem(160);
  margin: 0 auto;
  @include mq('md') {
    max-width: initial;
    margin: initial;
  }
}

.footer__logo a {
  //padding: rem(10) 0;
  display: block;
  @include mq(md){
    //padding: rem(15) 0;
  }
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__sns {
  margin-top: rem(16);
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(md){
    margin-top: rem(35);
    justify-content: left;
  }
}

.footer__sns-icon {
  display: block;
  max-width: rem(24);
  width: 100%;
  @include mq('md') {
    max-width: rem(32);
  }
}

.footer__sns-icon + .footer__sns-icon {
  margin-left: rem(16);
  @include mq(md){
    
  }
}

.footer__sns-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__btn {
  margin: auto 0 auto auto;
  display: none;
  @include mq('md') {
    display: block;
  }
}

.footer__bottom {
  margin-top: rem(40);
  display: flex;
  justify-content: center;
  gap: rem(50);
  @include mq(md){
    margin-top: rem(24);
    gap: rem(80);
  }
} 

.footer__logo,
.footer__sns-icon {
  transition: all .3s;
}

.footer__logo:hover,
.footer__sns-icon:hover {
  opacity: 0.5;
}

.footer__copyright {
  color: $accent-color;
  font-family: $english-font-family;
  margin-top: rem(40);
  display: block;
  font-size: rem(12);
  line-height: calc(18 / 12);
  text-align: center;
  @include mq(md){
    margin-top: rem(80);
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}