@use 'global' as *;

.form-input input {
	padding: rem(6) rem(15) rem(8);
	width: 100%;
	line-height: 1;
	border-radius: 0;
	border: 1px solid $accent-color;
	appearance: none;
	background-color: transparent;
	background-image: none;
}

.form-input input::placeholder {
	color: $accent-color;
}