@use 'global' as *;

.form-checkbox label {
  display: block;
  @include mq(md){
    
  }
}

.form-checkbox label:not(:first-of-type) {
  margin-top: rem(5);
  @include mq(md){
    
  }
}

.form-checkbox input {
  display: none;
}

.form-checkbox input + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 rem(22);
  position: relative;
  line-height: calc(23 / 16);
}

.form-checkbox input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 1px solid $accent-color;
  display: block;
  width: rem(14);
  height: rem(14);
}

.form-checkbox input + span::after {
  content: "";
  //margin-top: rem(-2);
  position: absolute;
  top: rem(11);
  left: rem(2);
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: rem(10);
  height: rem(5);
  border-bottom: rem(2) solid #C94800;
  border-left: rem(2) solid #C94800;
  transition:  .3s;
  opacity: 0;
}


.form-checkbox input:checked + span::after {
  opacity: 1;
}

.form-checkbox--privacy {
  padding: 0 rem(31);
}

.form-checkbox--privacy span {
  font-size: rem(14);
}

.form-checkbox--privacy input + span {
  padding-left: rem(31);
  @include mq('md') {
    padding-left: rem(39);
  }
}

.form-checkbox--privacy input + span::before {
  top: rem(10);
  width: rem(22);
  height: rem(22);
  @include mq('md') {
    
  }
}

.form-checkbox--privacy input + span::after {
  top: rem(8);
  left: rem(3);
  width: rem(16);
  height: rem(8);
}