@use 'global' as *;

.gallery {
  @include mq('md') {
    position: relative;
  }
}

.gallery__inner.inner {
  max-width: rem(600);
  @include mq('md') {
    max-width: $inner + strip-unit($padding-pc) * 2;
  }
}

.gallery__list {
  margin-top: rem(36);
  @include mq('md') {
    margin-top: rem(80);
  }
}