@use 'global' as *;

.gallery-list {
  display: grid;
  gap: rem(8);
  @include mq(md) {
    grid-template-columns: 1fr rem(80) 1fr;
    grid-auto-flow: dense;
  }
}

.gallery-list__item {
  cursor: pointer;
  @include mq(md) {
    grid-column: span 2;
    //grid-row: span 2;
    //min-width: rem(580);
  }
}

.gallery-list__item:nth-of-type(6n+1),
.gallery-list__item:nth-of-type(6n+6) {
  @include mq(md) {
    grid-column: span 1;
    grid-row: span 2;
    //min-width: rem(492);
  }
}

.gallery-list__item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 580/369;
  object-fit: cover;
  @include mq('md') {
    //max-width: rem(580);
  }
}