@use 'global' as *;

.information-tab-items {
  display: grid;
  //justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: rem(19);
  @include mq('md') {
    column-gap: rem(90);
  }
}

.information-tab__content-item {
  padding: rem(25);
  display: none;
  background-color: #fff;
  border: 1px solid #73B2C8;
}

.information-tab__content-item.is-active {
  display: block;
  animation: fade .3s;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}