@use 'global' as *;

.information {
  padding: rem(80) 0;
  background-color: #fdffba;
  @include mq('md') {
    padding: rem(100) 0 rem(76);
  }
}

.information__inner {
  
}

.information__list {
  margin-top: rem(24);
  max-width: rem(600);
  margin: 0 auto;
  @include mq('md') {
    margin-top: rem(40);
    max-width: rem(1080);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.information-list__btn {
  margin-top: calc(rem(40) + rem(1));
  text-align: center;
  padding-bottom: rem(3);
}