@use 'global' as *;

.music {
  position: relative;
}
  
.music::before {
  content: "";
  position: absolute;
  background-image: url(../images/common/music-icon1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: rem(-60);
  left: calc(50% - min(46%, rem(328)));
  min-width: rem(53);
  min-height: rem(50);
  z-index: -1;
  transform: rotate(15deg);
  @include mq('md') {
    top: rem(-113);
    left: calc(50% - min(48%, rem(619)));
    min-width: rem(100);
    min-height: rem(100);
  }
}