@use 'global' as *;

.nav-items {
  flex-shrink: 0;
}

.nav-items__item {
  transition: all .3s;
  max-width: rem(144);
  @include mq(md){
    max-width: rem(160);
  }
}

.nav-items__item:hover {
  opacity: 0.7;
}

.nav-items__item a {
  display: block;
  color: $base-color;
  line-height: calc(18 / 16);
}

.nav-items__item--sitemap a {
  color: $font-color;
}

.nav-items__item:nth-child(n + 2) a {
  margin-top: rem(24);
}

.nav-items__item a span {
  max-width: rem(112);
  position: relative;
  display: inline-block;
  font-weight: $bold;
  @include mq('md') {
    max-width: rem(160);
  }
}

.nav-items__item a span::before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(-22);
  right: 0;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/starfish.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.nav-items__item--sitemap a span::before {
  background-image: url(../images/common/starfish3.png);
}

.nav-items__item:nth-child(n + 2) a span  {
  margin-top: rem(16);
}





