@use 'global' as *;

.nav-items {
  flex-shrink: 0;
}

.nav-items > li > a {
  // display: block;
  color: $accent-color;
  padding: rem(20) 0 rem(20) rem(24);
  line-height: calc(18 / 16);
  // max-width: rem(112);
  width: 100%;
  display: inline-block;
  font-weight: $bold;
  position: relative;
  @include mq('md') {
    // max-width: rem(160);
  }
}

.nav-items--drawer > li > a  {
  color: $base-color;
}

//アイコン付与
.nav-items > li > a::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  width: rem(18);
  height: rem(18);
  mask-image: url(../images/common/vocal-icon1.png);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  background-color: $accent-color;
}

.nav-items--drawer > li > a::before  {
  background-color: $base-color;
}

.nav-items__item {
  // max-width: rem(144);
  width: 100%;
  @include mq(md){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(3);
  }
}

.nav-items__item--price {
  @include mq('md') {
    
  }
}

.nav-items__item-category a {
  transition: all .3s;
  color: $accent-color;
  padding: rem(16) 0 rem(16) rem(20);
  line-height: calc(18 / 16);
  width: 100%;
  display: inline-block;
}

.nav-items__item-category--drawer a {
  color: $base-color;
}

.nav-items__item-category a:hover {
  opacity: 0.7;
}



//太字
.nav-items__item a {
  
}



.nav-items__item--sitemap a {
  // color: $font-color;
}

.nav-items__item:nth-child(n + 2) {
  // margin-top: rem(40);
}

.nav-items__item-category:nth-child(1) {
  // font-weight: $bold;
  // position: relative;
}

.nav-items__item-category:nth-child(1) a{
  // font-weight: $bold;
  // position: relative;
}

.nav-items__item--sitemap a span::before {
  background-color: $font-color;
}




