@use 'global' as *;

.sidebar-header {
  position: relative;
  // display: flex;
  // gap: rem(12);
  align-items: center;
  padding-left: rem(28);
  font-size: rem(24);
  line-height: calc(35 / 24);
}

.sidebar-header::before {
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(40);
  background-color: $accent-color;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}