@use 'global' as *;

.sub-campaign-items {
  display: grid;
  justify-content: center;
  row-gap: rem(40);
  @include mq('md') {
    grid-template-columns: repeat(2, 1fr);
    row-gap: rem(80);
    column-gap: rem(40);
  }
}

.sub-campaign-items__item {
  max-width: rem(280);
  width: 100%;
  @include mq('md') {
    max-width: none;
  }
}