@use 'global' as *;

.sub-voice {
  
}

.sub-voice__inner.inner {
  max-width: rem(500);
  @include mq('md') {
    max-width: $inner + strip-unit($padding-pc) * 2;
  };
}

.sub-voice__list {
  margin-top: rem(40);
}

.sub-voice__pagenavi {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: rem(72);
  }
}