@use 'global' as *;

.voice {
  //padding-top: rem(80);
  @include mq('md') {
    position: relative;
  }
}

.voice::before {
  @include mq('md') {
    content: "";
    position: absolute;
    background-image: url(../images/common/drum-icon1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: rem(-118);
    left: calc(50% - min(48%, rem(619)));
    min-width: rem(112);
    min-height: rem(112);
  }
}

.voice::after {
  @include mq('md') {
    content: "";
    position: absolute;
    background-image: url(../images/common/piano-icon1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    bottom: rem(-68);
    right: calc(50% - min(47%, rem(540)));
    min-width: rem(103);
    min-height: rem(80);
  }
}

.voice__inner {
  max-width: rem(500);
  @include mq('md') {
    max-width: rem(1130);
  }
}

.voice__inner.inner {
  // padding: 0 rem(21);
  // @include mq('md') {
  //   padding-right: $padding-pc;
  //   padding-left: $padding-pc;
  // }
}

.voice__list {
  margin-top: rem(40);
  margin: 0 auto;
  @include mq('md') {
    margin-top: rem(33);
  }
}

.voice__btn {
  margin-top: calc(rem(40) + rem(1));
  text-align: center;
  padding-bottom: rem(3);
  @include mq('md') {
    margin-top: calc(rem(80) - rem(2));
  }
}