@use 'global' as *;

.wp-pagenavi {
	clear: both;
	text-align: center;
  display: flex;
  justify-content: center;
  gap: rem(12);
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: rem(35);
  height: rem(35);
  line-height: calc(19 / 16);
  font-family: $english-second-font-family;
  font-weight: $bold;
  // white-space: nowrap;
  color: $accent-color;
  border: 1px solid $accent-color;
  background-color: $base-color;
  transition: .3s;
}

.wp-pagenavi--single a {
  width: rem(100);
  // white-space: normal;
}

// .wp-pagenavi a {
//   margin-left: rem(11);
// }

// .wp-pagenavi a:first-child {
//   padding-left: rem(12);
//   padding-right: rem(12);
//   margin-left: 0;
// }

// .wp-pagenavi a:last-child {
//   padding-left: rem(12);
//   padding-right: rem(12);
// }



.wp-pagenavi a.u-desktop {
  display: none;
  @include mq('md') {
    display: inline-flex;
  }
}

.wp-pagenavi a:hover {
	color: $base-color;
	background-color: $accent-color;
	border-color: $accent-color;
  opacity: 1;
}

.wp-pagenavi .current {
	color: $base-color;
	background-color: $accent-color;
	border-color: $accent-color;
  // margin-left: rem(11);
}

.previouspostslink {
  position: relative;
  margin-right: rem(30);
  @include mq('md') {
    margin-right: rem(40);
  }
}

.nextpostslink {
  margin-left: rem(30);
  @include mq('md') {
    margin-left: rem(40);
  }
}

.previouspostslink::after,
.nextpostslink::after {
  content: "";
  position: absolute;
  top: 35%;
  border-bottom: rem(1) solid $accent-color;
  border-left: rem(1) solid $accent-color;
  width: rem(10);
  height: rem(10);
}

.previouspostslink:hover::after,
.nextpostslink:hover::after {
  border-bottom: rem(1) solid $base-color;
  border-left: rem(1) solid $base-color;
}

.previouspostslink::after {
  left: 41%;
  transform: rotate(45deg);
}

.nextpostslink::after {
  left: 25%;
  transform: rotate(-135deg);
}

.previouspostslink--single::after {
  left: 10%;
}

.nextpostslink--single::after {
  left: 80%;
}

.wp-pagenavi .nextpostslink {
  position: relative;
}

.wp-pagenavi .centarpostslink {
  margin-left: 0;
}